<div class="col-md-8 left-pane">
  <h4 class="text-center committee-type">Committee Members</h4>
  <div class="col-md-6">
    <app-person-information-card [PersonObject]='presidentDetails'></app-person-information-card>
  </div>
  <div class="col-md-6">
    <app-person-information-card [PersonObject]='vicePresidentDetails'></app-person-information-card>
  </div>

  <div class="col-md-6">
    <app-person-information-card [PersonObject]='jointSecretaryDetails1'></app-person-information-card>
  </div>
  <div class="col-md-6">
    <app-person-information-card [PersonObject]='jointSecretaryDetails2'></app-person-information-card>
  </div>

  <div class="col-md-6">
    <app-person-information-card [PersonObject]='treasurerDetails'></app-person-information-card>
  </div>
  <div class="col-md-6">
    <app-person-information-card [PersonObject]='assistantTreasurerDetails'></app-person-information-card>
  </div>
</div>

<div class="col-md-4 right-pane">
  <h4 class="text-center committee-type">Important Contacts</h4>
  <table class="table">
    <caption>Important Contacts</caption>
    <thead>
      <tr>
        <th>Contact Type</th>
        <th>Number</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Security</td>
        <td>Extension (9)</td>
      </tr>
      <tr class="important">
        <td>Ambulance</td>
        <td>102</td>
      </tr>
      <tr class="important">
        <td>Rajarhat Thana</td>
        <td>100</td>
      </tr>
      <tr>
        <td>Doctor</td>
        <td>1322</td>
      </tr>
      <tr>
        <td>Plumber</td>
        <td>1322</td>
      </tr>
      <tr>
        <td>Electrician</td>
        <td>1322</td>
      </tr>
      <tr>
        <td>Carpenter</td>
        <td>1322</td>
      </tr>
      <tr>
        <td>Lawyer</td>
        <td>1322</td>
      </tr>
      <tr>
        <td>Rajat</td>
        <td>1322</td>
      </tr>
      <tr>
        <td>Samar</td>
        <td>1322</td>
      </tr>
    </tbody>
  </table>
</div>