<img src="http://shabier.com/images/simple-abstract-wallpaper/simple-abstract-wallpaper-10.jpg">

<div class="col-md-4"></div>

<div class="col-md-4 text-center">
  <h1 class="welcome-page-header">MPRA</h1>
  <h2 class="welcome-page-header">Magnolia Prestige Society</h2>
  <h4 class="welcome-page-header">Official website for Magnolia Prestige Residents</h4>
  <h2 class="welcome-page-header"><a routerLink='dashboard' class="welcome-page-anchor">Click to enter</a></h2>
</div>
<div class="col-md-4"></div>